# Application
NODE_ENV=development
PORT=7000
BASE_URL=http://localhost:7000/api/v1

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN="1h"
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN="7d"

# Services
MAISONS_SERVICE_URL=http://localhost:3001
UTILISATEURS_SERVICE_URL=http://localhost:3002
MASEBUY_SERVICE_URL=http://localhost:8000

# Rate Limiter
RATE_LIMIT_WINDOW_MS=15 * 60 * 1000 # 15 minutes
RATE_LIMIT_MAX_REQUESTS=100

# MongoDB
MONGO_URI=mongodb://localhost:27017/sorikama_gateway

# Default Admin User for Seeding
DEFAULT_ADMIN_EMAIL=admin@sorikama.com
DEFAULT_ADMIN_PASSWORD=Admin@123

# Admin Portal Authentication
PORTAL_USERNAME=admin
PORTAL_PASSWORD=YourSecurePassword123!
PORTAL_PASSWORD_HASH=$2b$12$example_hash_here

# Encryption (32 characters exactly)
ENCRYPTION_KEY=your_32_character_encryption_key

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
EMAIL_FROM=noreply@sorikama.com

# Security
BLIND_INDEX_PEPPER=your_pepper_here