#etape de construction du pipeline 
name : CI/CD Pipeline 

# A quel commit ou pull request le pipeline va s'executer
on : 
    push : 
        branches : 
            - master
    pull_request : 
        branches : 
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '16'
            - run: npm install
            - run: npm run build

